vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
storage/framework/sessions/

storage/framework/views/

storage/framework/views/

storage/framework/sessions/7dbf09c18d2f3b46e1b6f0f0edbdf2362976b803

storage/framework/sessions/7dbf09c18d2f3b46e1b6f0f0edbdf2362976b803

storage/framework/sessions/9155fa948effe4441ec933f0a79e3fe4efe98d7d

storage/framework/sessions/9155fa948effe4441ec933f0a79e3fe4efe98d7d

*.log

storage/logs/laravel.log

storage/logs/laravel.log.txt

storage/framework/sessions/7dbf09c18d2f3b46e1b6f0f0edbdf2362976b803

storage/framework/sessions/7dbf09c18d2f3b46e1b6f0f0edbdf2362976b803

storage/framework/sessions/7dbf09c18d2f3b46e1b6f0f0edbdf2362976b803

*.log

*.txt

storage/framework/sessions/9155fa948effe4441ec933f0a79e3fe4efe98d7d
