APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=condat_v5
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PAYPAL_SANDBOX_API_USERNAME=info_api1.thinkingnepal.com
PAYPAL_SANDBOX_API_PASSWORD=UVRYS8B7PBN863QW
PAYPAL_SANDBOX_API_SECRET=A3mfMi595syFk9VXUFE3gTt4ptg7AJrF8BVZdOLyO.9grG0gDYCZ-AY-

PAYPAL_SANDBOX_API_USERNAME=buyer_api1.satish.com
PAYPAL_SANDBOX_API_PASSWORD=1404367451
PAYPAL_SANDBOX_API_SECRET=AosfgWBYHVVPqO3P6-fxwmjUzLTDAH1GqaG1TaORukWlmVPEKv6SMSci

PAYPAL_SANDBOX_API_USERNAME=info_api1.condat.com.au
PAYPAL_SANDBOX_API_PASSWORD=5L3ADXYJ46WZM9L4
PAYPAL_SANDBOX_API_SECRET=AFcWxV21C7fd0v3bYYYRCpSSRl31A8ZSvLN0RWT6AAc4jM8ynQmBLcpj